* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.trending-list {
    display: flex;
}
.product-card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card img{
    width: 100%;
}
.product-card .product-name {
    height: 50px;
    overflow-y:hidden;
    line-height: 25px;
    font-size: 0.75rem;
}
.product-card .product-price {
    color: red;
}