<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Choice Page</title>
</head>

<body>
    <header><%- include("../partials/header.ejs") %></header>
    <main>
      <%- include("../partials/sub-nav.ejs") %>
        <div class="breadcrumb-container">
            <nav class="breadcrumb">
                <a class="home" href="#">Home</a> / 
                <a class="cart" href="#">Cart</a>
            </nav>
        </div>
        <div class="welcome">
            Welcome! <span class="customer-name">TienDat</span>
        </div>

        <div class="multi-choice-product">

            <div class="choice-product">
                <label class="custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
    
                <div class="cart-product-info">
                    <img src="Pic/macbook.webp" class="product-image">
                    <div class="product-details">
                        <div class="product-name">MacBook Pro 14 inch 2021</div>
                        <div class="product-price">36,900,000 VND</div>
                    </div>
                </div>
    
                <div class="change-quantity-remove-product">
                    <div class="remove-product">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24">
                            <path fill="black" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" />
                        </svg>
                    </div>
                    <div class="change-quantity">
                        <button class="quantity-btn">-</button>
                        <span class="quantity-number">1</span>
                        <button class="quantity-btn">+</button>
                    </div>
                </div>
            </div>
    
            <div class="choice-product">
                <label class="custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
    
                <div class="cart-product-info">
                    <img src="Pic/macbook.webp" class="product-image">
                    <div class="product-details">
                        <div class="product-name">MacBook Pro 14 inch 2021</div>
                        <div class="product-price">36,900,000 VND</div>
                    </div>
                </div>
    
                <div class="change-quantity-remove-product">
                    <div class="remove-product">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24">
                            <path fill="black" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" />
                        </svg>
                    </div>
                    <div class="change-quantity">
                        <button class="quantity-btn">-</button>
                        <span class="quantity-number">1</span>
                        <button class="quantity-btn">+</button>
                    </div>
                </div>
            </div>
    
            <div class="choice-product">
                <label class="custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
    
                <div class="cart-product-info">
                    <img src="Pic/macbook.webp" class="product-image">
                    <div class="product-details">
                        <div class="product-name">MacBook Pro 14 inch 2021</div>
                        <div class="product-price">36,900,000 VND</div>
                    </div>
                </div>
    
                <div class="change-quantity-remove-product">
                    <div class="remove-product">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24">
                            <path fill="black" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" />
                        </svg>
                    </div>
                    <div class="change-quantity">
                        <button class="quantity-btn">-</button>
                        <span class="quantity-number">1</span>
                        <button class="quantity-btn">+</button>
                    </div>
                </div>
            </div>
    
            <div class="choice-product">
                <label class="custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
    
                <div class="cart-product-info">
                    <img src="Pic/macbook.webp" class="product-image">
                    <div class="product-details">
                        <div class="product-name">MacBook Pro 14 inch 2021</div>
                        <div class="product-price">36,900,000 VND</div>
                    </div>
                </div>
    
                <div class="change-quantity-remove-product">
                    <div class="remove-product">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24">
                            <path fill="black" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" />
                        </svg>
                    </div>
                    <div class="change-quantity">
                        <button class="quantity-btn">-</button>
                        <span class="quantity-number">1</span>
                        <button class="quantity-btn">+</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="buy-now">
            <button class="buy-now-button">Buy Now</button>
        </div>
    </main>

    <footer>
        <div class="footer-container">
          <div class="footer-row">
            <div class="footer-column">
              <strong>Support</strong>
              <ul>
                <li>
                  <a href="#">HanHuyen, Thu Duc, HCM</a>
                </li>
                <li>
                  <a href="#">lapshop@gmail.com</a>
                </li>
                <li>
                  <a href="#">555-555-555</a>
                </li>
              </ul>
            </div>
            <div class="footer-column">
              <strong>Account</strong>
              <ul>
                <li>
                  <a href="#">My account</a>
                </li>
                <li>
                  <a href="#">Login / Register</a>
                </li>
                <li>
                  <a href="#">Cart</a>
                </li>
                <li>
                  <a href="#">Shop</a>
                </li>
              </ul>
            </div>
            <div class="footer-column">
              <strong>Quick link</strong>
              <ul>
                <li>
                  <a href="#">Privacy policy</a>
                </li>
                <li>
                  <a href="#">Term of uses</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="footer-column">
              <strong>Contact</strong>
              <div class="contact-icons">
                <a href=""> <i class="fa-brands fa-facebook"></i></a>
                <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
                <a href=""> <i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="footer-row">
            <div class="footer-column">
              <div class="copyright">
                &copy;Copyright Rimel 2022.All right reserved
              </div>
            </div>
          </div>
        </div>
    </footer>
</body>