<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/login.css" />
    <title>login</title>
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>
      <%- include("../partials/sub-nav.ejs") %>
    <div class="login-container">
      <h2>Login to your account</h2>
      <form action="/api/av1/user/login" method="post">
        <div class="input-group">
          <input
            type="text"
            name="email"
            placeholder="Email address"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            name="password"
            placeholder="Password"
            id="password"
            required
          />
          <span class="password-toggle" id="showPassword-btn">&#128065;</span>
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <button type="submit" class="login-btn">Login</button>
      </form>
      <p class="create-account">
        Don't have an account yet? <a href="/register">Create one</a>
      </p>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-row">
          <div class="footer-column">
            <strong>Support</strong>
            <ul>
              <li>
                <a href="#">HanHuyen, Thu Duc, HCM</a>
              </li>
              <li>
                <a href="#">lapshop@gmail.com</a>
              </li>
              <li>
                <a href="#">555-555-555</a>
              </li>
            </ul>
          </div>
          <div class="footer-column">
            <strong>Account</strong>
            <ul>
              <li>
                <a href="#">My account</a>
              </li>
              <li>
                <a href="#">Login / Register</a>
              </li>
              <li>
                <a href="#">Cart</a>
              </li>
              <li>
                <a href="#">Whishlist</a>
              </li>
              <li>
                <a href="#">Shop</a>
              </li>
            </ul>
          </div>
          <div class="footer-column">
            <strong>Quick link</strong>
            <ul>
              <li>
                <a href="#">Privacy policy</a>
              </li>
              <li>
                <a href="#">Term of uses</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div class="footer-column">
            <strong>Contact</strong>
            <div class="contact-icons">
              <a href=""> <i class="fa-brands fa-facebook"></i></a>
              <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
              <a href=""> <i class="fa-brands fa-instagram"></i></a>
              <a href=""> <i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-row">
          <div class="footer-column">
            <div class="copyright">
              &copy;Copyright Rimel 2022.All right reserved
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="/scripts/login.js"></script>
</html>
