* {
    margin: 0;
    padding: 0;
    font-family: Poppins; 
}

html, body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.advertisement {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.advertisement a {
    color: white;
    font-weight: bold;
    height: 48px;
}

.breadcrumb-container {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Cho phép chia nhỏ hàng nếu màn hình nhỏ */
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.home {
    color: rgb(95, 94, 94);
    font-size: 43px;
}

.my-account {
    color: black;
    font-size: 43px;
}

.edit-profile{
    color: black;
    font-size: 43px;
}

.icon-container {
    margin-right: 70px;
    display: flex;
    justify-content: space-around;
}

.search-icon,
.cart-icon,
.picture-profile-icon {
    margin-right: 20px;
}

.search-icon img,
.picture-profile-icon img,
.cart-icon img {
    width: 50px;
    height: 50px;
}

.welcome {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 53px;
    text-align: right;
    margin-right: 40px;
}

.customer-name {
    color: #F14848;
}

.manage {
    display: flex;
    flex-direction: row;
}

.manage-account {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    border-width: 2px;
    border-style: solid;
    border-color: #B6B6B6;
    border-radius: 10px;
    padding-bottom: 300px;
    padding-left: 10px;
    width: 23%;
}

.manage-account a {
    padding-top: 20px;
    font-size: 43px;
    text-decoration: none;
    color: black;
}

.manage-profile{
    padding-left: 250px;
    flex: 1;
}

.form-edit-your-profile{
    font-size: 21px;
}

.edit-your-profile{
    color:#DB4444;
    font-size: 26px;
}

.form-input{
    font-size: 21px;
    width:400px;
    display:block;
    width: 710px;
    height:50px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border-style: none;
}

.cancel-save-button{
    
}

.btn-cancel{
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;

}

.btn-save{
    background-color: #DB4444;
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
    border-radius: 4px;
    color:white;
}

footer {
    width: 100%;
    background-color: black;
    bottom: 0px;
    margin-top: 200px;
  }
  footer a {
    color: white;
    text-decoration: none;
  }
  .footer-container {
    max-width: 1280px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 2rem;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: space-around;
    row-gap: 1rem;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    margin: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .footer-column strong {
    line-height: 2.25rem;
    font-size: 1.875rem;
  }
  .footer-column .contact-icons a {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .copyright {
    opacity: 0.5;
    font-size: 1.125rem; 
    line-height: 1.75rem;
  }
  @media screen and (min-width: 768px) {
    .logo a span {
      display: inline;
    }
    .main-nav ul li {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .footer-row {
      flex-direction: row;
      row-gap: 0.5rem;
    }
    .footer-row ul li {
      margin-top: 0.5rem;
    }
    .footer-row .contact-icons {
      margin-top: 0.5rem;
    }
  }