.sub-nav {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .sub-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .sub-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sub-nav .active a {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }