<header>
  <div class="advertisement">
    Summer Sale For All CD Player And Free Express Delivery - OFF 50% -
    <a href="">ShopNow</a>
  </div>
  <nav class="main-nav">
    <div class="logo">
      <a>
        <img
          src="https://user-images.githubusercontent.com/98990/89711240-4172a200-d989-11ea-8d51-4aaf922fa407.png"
          alt=""
        />
        <span>LapShop</span>
      </a>
    </div>
    <form class="search-bar">
      <div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Search" />
      </div>
    </form>
    <ul>
      <li>
        <a href="">
          <i class="fa-regular fa-bell"></i>
        </a>
      </li>
      <li>
        <a href="/cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <li>
        <a href="/login">
          <i class="fa-regular fa-user"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
