<nav class="sub-nav">
    <ul>
      <li class="active">
        <a href="/"><strong>HOME</strong></a>
      </li>
      <li><a href="/laptop">Laptop</a></li>
      <li><a href="/screen">Screen</a></li>
      <li><a href="/mouse">Mouse</a></li>
      <li><a href="/headsphone">Headsphone</a></li>
    </ul>
  </nav>